@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

.collection {
  position: relative;
  top: 5rem;
}

.collection-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-family: 'ZCOOL XiaoWei';
  letter-spacing: 2px;
}
