.sign-up {
  position: relative;
  top: 20%;
  background: linear-gradient(#61a8f1, #e75572);
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
